<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @training.title%></h5>
        <hr class="hr">
        <div class="body" id="productbody"><%= @training.text.html_safe %></div>
    </div>
</div>
