<!--specialnews two index-->
<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="banner" style="background-image: url('../img/specialnews/specialnews2/cover.jpg') !important;">

</div>

<%@news.each do |news|%>
    <!--<div class="cell"  style="background-image: url('../img/join_us/joinusbanner.jpg') !important;">-->
        
        <div class="two-cell"  style="background-image: url(<%=news.image%>) !important;"> 
    
        
    </div>
<%end%>
    
    
    
    
    
    
</div>
